.shop-container {
  display: flex;
  position: relative;
  transition: margin-right 0.3s ease;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-left: 250px; /* Adjust to match the sidebar width */
  transition: margin-left 0.3s ease; /* Smooth transition for responsiveness */
}

.sort-and-search {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  padding: 20px;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
  background-color: #fff;
  position: relative;
}

.search-bar {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.search-icon,
.cancel-icon {
  color: #aaa;
  font-size: 20px;
  cursor: pointer;
}

.cancel-icon {
  margin-left: 10px;
}

.search-results {
  font-size: 16px;
  margin-bottom: 10px;
}

.sort-options {
  display: flex;
  gap: 10px;
}

.sort-button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.sort-button.selected {
  background-color: #56b45d;
  color: #fff;
}

.products-container {
  flex: 1;
  overflow-y: auto;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.product-card {
  width: 260px;
  box-sizing: border-box;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .shop-container {
    flex-direction: column;
  }

  .filter-sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid #ddd;
    position: relative; /* Make sidebar relative in mobile view */
  }

  .main-content {
    margin-left: 0; /* Reset margin for mobile view */
  }
}

.details-open .main-content {
  margin-right: 400px; /* Width of the ProductDetailsPanel */
}
